@import '../../../styles/rustex.css';
@import '../../../styles/highlights.css';
@import '../../../styles/overlay.css';
@import '../../../styles/browser.css';
@import '../../../styles/sidebar.css';
@import '../../../styles/math.css';

html,
body {
  padding: 0;
  margin: 0;
  /*font-family: Noto Serif, serif, STIXgeneral, Times, Symbol, cmr10, CMSY10, CMEX10, serif;*/
  font-family: STIXgeneral, Times, Symbol, cmr10, CMSY10, CMEX10, serif;
}
body {
  overflow-y: scroll;
}
