@import '../../../styles/rustex.css';
@import '../../../styles/highlights.css';
@import '../../../styles/overlay.css';
@import '../../../styles/browser.css';

html,
body {
  padding: 0;
  margin: 0;
  /*font-family: Noto Serif, serif, STIXgeneral, Times, Symbol, cmr10, CMSY10, CMEX10, serif;*/
  font-family: STIXgeneral, Times, Symbol, cmr10, CMSY10, CMEX10, serif;
}

.sidebarexpanded {
  position: relative;
  left: 550px;
  font-size: small;
}

.sidebarbuttonwrapper {
  display: inline-block;
  position: relative;
  left: -40px;
  font-size: small;
}

.sidenote-container div {
  margin-top: 10px;
}
