* { position:relative;}
a { color: inherit; text-decoration: inherit; }
html,
body {
  padding: 0;
  margin: 0;
  /*font-family: Noto Serif, serif, STIXgeneral, Times, Symbol, cmr10, CMSY10, CMEX10, serif;*/
  font-family: Latin Modern, STIXgeneral, Times, Symbol, cmr10, CMSY10, CMEX10, serif;
}
body {
  overflow-y: scroll;
}
