.card-container {
  height: 100%;
  width: 100%;
  position: relative;

  box-sizing: border-box;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
}
.flipped {
  transform: rotateX(180deg);
}
.front,
.back {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: white;
  box-shadow: 2px 7px 31px 8px rgb(95, 77, 99);
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.front {
  transform: rotateX(0deg);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* front tile styles go here! */
}
.back {
  transform: rotateX(-180deg);
  padding: 0;

  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* back tile styles go here! */
}
