.option {
  border: 1px solid #AAA;
  border-radius: 5px;
  padding-right: 10px;
  user-select: none;
}

.option_unsubmitted_selected {
  background-color: #DDD;
}

.option_relevant {
  border-width: 3px !important;
  margin: 8px !important;
}

.option_not_relevant {
  border-width: 1px !important;
  margin: 10px !important;
}

.correct {
  background-color: #a3e9a0;
}

.incorrect {
  background-color: #f39797;
}

.got_right {
  border-color: #178717 !important;
}
.missed {
  border-color: #da1010 !important;
}
