.definiendum {
    color: #ed028c;
}

.varcomp {
    color: #828282;
}

.symcomp {
    color: #0e90d2;
}

.frame{
    background-color:#fff;
    margin:0 auto;
    border:2px solid #000;
    border-radius:5px;
    padding:5px;
    padding-right:10px;
    --temp-width: calc(var(--document-width) - 20px);
    width: var(--temp-width);
    display:inline-block;
}

.inner-frame{
    overflow-wrap:initial;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    text-align:justify;
    align-self: center;
    width:100%;
    --document-width:var(--temp-width);
}


.solution {}
