.definiendum {
    color: #00BB00;
    font-weight: bold;
}

.varcomp {
    color: #828282;
}

.symcomp {
    color: #0e90d2;
}

.scaledbody {
    transform: scale(1.5);
    transform-origin: top;
}

.frame {
    border: 2px solid black;
    display: flex;
    margin: 0px auto;
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
}

.text-frame {
    padding: 10px;
    height: 550px;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 5px;
}

.text-frame span {
    font-size: 18px!important;
}

.solution {}
