
* { position:relative;}
a { color: inherit; text-decoration: inherit; }

.rustex-contents {display:contents}

/* ---------------------------------------------------- Fonts ------------------------------------------------------- */

.rustex-reset-font, .rustex-body {
    font-family: Latin Modern, STIXgeneral, Times, Times New Roman,Symbol, cmr10, CMSY10, CMEX10, serif;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
}

.rustex-body {--temp-width:0}

.rustex-monospaced {
    font-family: Latin Modern Mono, FreeMono,Courier New,monospace;
}

.rustex-blackboard {
    font-family: msbm, Latin Modern Math,math;
}

.rustex-script-font {
    /*font-family: URW Chancery L, cursive; /* TODO think about this */
}

.rustex-sans-serif {
    font-family: Latin Modern Sans, sans-serif;
}

.rustex-text {
    display:contents;
}

/* ---------------------------------------------------- Boxes ------------------------------------------------------- */

.rustex-body {
    background-color:#f9fafb;
    color: #000000;
    display:flex;
    flex-direction: column;
}

.rustex-vbox, .rustex-vtop, .rustex-vcenter,.rustex-foreign {
    display:inline-flex;
    flex-direction: column;
}

.rustex-hbox, .rustex-vbox, .rustex-vtop, .rustex-vcenter {
    overflow: visible;
    text-align: left;
}

.rustex-vbox, .rustex-vtop, .rustex-vcenter {
    height: min-content;
    width: min-content;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.rustex-vbox { vertical-align: bottom }
.rustex-vtop {vertical-align: baseline }
.rustex-vcenter{vertical-align: middle}

.rustex-vbox-height-container {
    display:inline-block;
    width:min-content;
    height: min-content;
    vertical-align: bottom;
}

.rustex-vtop-height-container {
    display:inline-block;
    width:min-content;
    height: min-content;
}

.rustex-vbox-container { display:inline-block; width: min-content; height: min-content }
.rustex-vtop-container { display:inline-block;; width: min-content; height: min-content }
.rustex-vcenter-container { display:inline-block; width: min-content; height: min-content }

.rustex-display-vcenter {
    text-align:center;
    display:block;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    min-width: 100%;
}

.rustex-hbox, .rustex-hbox-no-space {
    display:inline-flex;
    white-space: pre;
    width: min-content;
    height: min-content;
    align-items: baseline;
    /*
    vertical-align: bottom;
    align-items: end;
     */
}
/*.paragraph > .hbox { align-items: baseline}*/
.rustex-space-in-hbox {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    line-height: 0;
}
.rustex-hbox-no-space > .rustex-space-in-hbox, .rustex-hbox-no-space > span > .rustex-space-in-hbox, .rustex-hbox-no-space > span > span > .rustex-space-in-hbox {
    margin:0;
}
.rustex-hbox > .rustex-text, .rustex-hbox > span > .rustex-text, .rustex-hbox > span > span > .rustex-text, .rustex-hbox > span > span > span > .rustex-text {
    display:inline-block;
    margin-bottom:1.2px;
} /* line-height:0 */

.rustex-hbox-container {
    display:inline-flex;
    flex-direction: column;
    width: min-content;
    height: min-content;
    justify-content: end;
}

.rustex-paragraph {
    text-align:justify;
    white-space:normal;
    display: inline-block;
    margin-top: auto;
}
.rustex-paragraph > .rustex-text, .rustex-paragraph > span > .rustex-text, .rustex-paragraph > span > span > .rustex-text, .rustex-paragraph > span > span > span > .rustex-text  { display:contents; }

/* ---------------------------------------------------- Rules ------------------------------------------------------- */

.rustex-vrule {
    display:inline-block;
    vertical-align: text-bottom;
}
.rustex-hrule {
    display:block;
}
.rustex-vrule-container {
    display:inline-block;
}.rustex-hrule-container {
     display:block;
 }

/* ----------------------------------------------------- Math ------------------------------------------------------- */

math {
    line-height: inherit;
    font-size: inherit;
    font-family: Latin Modern Math, math;
}

/* inline-flex avoids weird vertical gaps in e.g. footnote markers */
mtext {
    letter-spacing: initial;
    word-spacing: initial;
    display: inline-flex;
}
mtext > {display:initial}
mtext * {
    font-size: inherit;
    writing-mode: initial;
}
.rustex-math-escape {
    display: inline-flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.rustex-display-math-container {
    text-align:center;
    display:block;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    min-width: 100%;
}
mi { position: relative}
mo {position: relative;padding-left: 0;padding-right: 0}
msub > :nth-child(2), msup > :nth-child(2) {font-size:inherit}
mfrac > * {font-size: inherit}
mover > :not(:first-child), munder > :not(:first-child) {font-size:inherit}

/* --------------------------------------------------- Spacing ------------------------------------------------------ */

.rustex-hskip {
    display:inline-block;
}
.rustex-vskip {
    display: block;
}
.rustex-kern {
    display: inline-block;
}
.rustex-Vss {
    display:none;
}
.rustex-Hss {
    display:none;
}
.rustex-HFil, .rustex-HFill { display:inline-block;margin-left: auto;margin-right: auto }
.rustex-VFil, .rustex-VFill { display:block;margin-top: auto;margin-bottom: auto }

/* --------------------------------------------------- Tables ------------------------------------------------------- */
tbody {display:table-row-group}
.rustex-halign{
    display:inline-grid;
    border-collapse:collapse;
    width: fit-content;
    grid-auto-rows: auto;
    align-content: baseline;
}
.rustex-cell {
    display:inline-flex;
    white-space: pre;
    align-items: baseline;
    width: 100%;
    height: 100%;
}
.rustex-noalign {
    display:inline-flex;
    flex-direction: column;
    overflow: visible;
    text-align: left;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.rustex-cell > .rustex-space-in-hbox, .rustex-cell > span > .rustex-space-in-hbox, .rustex-cell > span > span > .rustex-space-in-hbox {
    margin:0;
}

/* --------------------------------------------------- Others ------------------------------------------------------- */

.rustex-raise {
    display: inline-flex;
}
.rustex-moveright {
    display: inline-flex;
}
hr {width: 100%;}
.rustex-foreign {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: start;
    /*align-content: center;*/
    flex-wrap: wrap;
    line-height: 1;
}
svg, foreignObject {
    overflow: visible;
}
foreignObject {display: flex;}
.rustex-pdfmatrix {
    transform-origin: bottom left;
    display: inline-block;
}
.rustex-withwidth {
    width: var(--temp-width);
    min-width: var(--temp-width);
}
.rustex-withwidth > span {
    --document-width: var(--temp-width);
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */

/* Fix */
mtext .rustex-contents { display:inline }


.omdoc-collapsible > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.omdoc-collapsible .omdoc-content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.omdoc-collapsible > input[type="checkbox"]:checked ~ .omdoc-content {
    height: auto;
    overflow: visible;
}

.omdoc-collapsible label {
    display: block;
}

.omdoc-collapsible {
    margin-bottom: 0.5em;
}

.omdoc-collapsible > input[type="checkbox"]:checked ~ .omdoc-content {
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-top: 0;
}

.omdoc-collapsible .omdoc-handle {
    margin: 0;
}

.omdoc-collapsible-small {
    padding: 1px;
}

.omdoc-collapsible label {
    cursor: pointer;
    padding: 5px;
    background: #e8e8e8;
}
.omdoc-collapsible label::before {
    content:'▶ ';
    white-space: pre;
}
.omdoc-collapsible > input[type="checkbox"]:checked ~ .omdoc-handle > label::before {
    content:'▼ ' !important;
    white-space: pre;
}

.omdoc-collapsible-small label {
    padding:0;
    background: inherit;
    border-bottom: 1px solid #e8e8e8;
}

.omdoc-collapsible label:hover,
.omdoc-collapsible label:focus {
    background: #d8d8d8;
}
.omdoc-symbol-table {
    width: 100%;
}
.omdoc-symbol-td {
    padding-right: 10px;
    vertical-align: baseline;
    padding-bottom: 5px;
}
.omdoc-notation-table {
    width: 100%;
}
.omdoc-notation-td {
    padding-right: 10px;
    vertical-align: baseline;
    padding-bottom: 5px;
    text-align: center;
}

.omdoc-fake-collapsible, .omdoc-fake-collapsible-small {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #e8e8e8;
}

.omdoc-fake-collapsible {}
.omdoc-fake-collapsible-small {}

.omdoc-fake-collapsible::before, .omdoc-fake-collapsible-small::before {
    content:'▷ ';
    white-space: pre;
}

.shtml-sectitle{
    display:inline-block;
    margin-bottom:20px;
    margin-top:20px
}
.shtml-sec-part {
    display:inline;
    counter-reset: shtml-statement shtml-sec-section shtml-sec-subsection shtml-sec-subsubsection;
    counter-increment: shtml-sec-part;
}
.shtml-sec-chapter {
    display:inline;
    counter-reset: shtml-statement shtml-sec-section shtml-sec-subsection shtml-sec-subsubsection;
    counter-increment: shtml-sec-chapter;
    --shtml-has-chapter: counter(shtml-sec-chapter) ".";
}
.shtml-sec-section {
    display:inline;
    counter-reset: shtml-statement shtml-sec-subsection shtml-sec-subsubsection;
    counter-increment: shtml-sec-section;
}
.shtml-sec-subsection {
    display:inline;
    counter-reset: shtml-sec-subsubsection;;
    counter-increment: shtml-sec-subsection;
}
.shtml-sec-subsubsection {
    display:inline;
    counter-increment: shtml-sec-subsubsection;
}
.shtml-sec-part .shtml-sectitle{
    font-size:xx-large;
    font-style:normal;
    font-weight:700;
    margin-bottom:50px;
    margin-top:50px
}
.shtml-sec-part .shtml-sectitle:before{
    content:"Part " counter(shtml-sec-part,upper-roman) "\a";
    font-size:x-large;
    white-space:pre
 }
.shtml-sec-part .shtml-sectitle:after{
    content:"\a";
    white-space:pre
}.shtml-sec-chapter .shtml-sectitle{
     font-size:x-large;
     font-style:normal;
     font-weight:700;
     margin-bottom:30px;
     margin-top:30px
 }
.shtml-sec-chapter .shtml-sectitle:before{
    content:"Chapter " counter(shtml-sec-chapter) " - ";
    font-size:x-large;white-space:pre
}
.shtml-sec-chapter .shtml-sectitle:after{
    content:"\a";
    white-space:pre
}
.shtml-sec-section .shtml-sectitle{
    font-size:large;
    font-style:normal;
    font-weight:700;
    margin-bottom:20px;
    margin-top:20px
}
.shtml-sec-section .shtml-sectitle:before{
    content:var(--shtml-has-chapter) counter(shtml-sec-section) "  ";
    font-size:large;
    white-space:pre
}
.shtml-sec-section .shtml-sectitle:after{
    content:"\a";white-space:pre
}
.shtml-sec-subsection .shtml-sectitle{
    font-size:medium;
    font-style:normal;
    font-weight:700;
    margin-bottom:10px;
    margin-top:10px
}
.shtml-sec-subsection .shtml-sectitle:before{
    content:var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-sec-subsection) "  ";
    font-size:medium;
    white-space:pre
}
.shtml-sec-subsection .shtml-sectitle:after{
    content:"\a";
    white-space:pre
}
.shtml-sec-subsubsection .shtml-sectitle{
    font-size:medium;
    font-style:normal;
    font-weight:700;
    margin-bottom:5px;
    margin-top:5px
}
.shtml-sec-subsubsection .shtml-sectitle:before{
    content:var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-sec-subsection) "." counter(shtml-sec-subsubsection) "  ";
    font-size:medium;
    white-space:pre
}
.shtml-sec-subsubsection .shtml-sectitle:after{
    content:"\a";
    white-space:pre
}
.shtml-sectitle{
    font-size:inherit;
    font-style:normal;
    font-weight:700
}
.shtml-definition,.shtml-example,.shtml-paragraph{
    margin-bottom:10px;
    margin-top:10px
}
.shtml-title-example,.shtml-title-paragraph{
    font-size:inherit;
    font-weight:700
}
.shtml-title-example:before{
    counter-increment: shtml-statement;
    content:"Example " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) " (";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-title-example:after{
    content:"). ";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-title-example:is(.empty):before{
    counter-increment: shtml-statement;
    content:"Example " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) ". ";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-title-example:is(.empty):after{
    content:"";
    font-weight:700
}
.shtml-title-definition{
    font-size:inherit;
    font-weight:700
}
.shtml-title-definition:before{
    counter-increment: shtml-statement;
    content:"Definition " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) " (";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-title-definition:after{
    content:"). ";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-title-definition:is(.empty):before{
    counter-increment: shtml-statement;
    content:"Definition " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) ". ";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-title-definition:is(.empty):after{
    content:"";
    font-weight:700
}
.shtml-title-assertion{
    font-size:inherit;
    font-weight:700
}
.shtml-assertion .shtml-title-assertion:before{
    counter-increment: shtml-statement;
    content:"Axiom " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) " (";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-assertion .shtml-title-assertion:after{
    content:"). ";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-title-assertion:is(.empty):before{
    counter-increment: shtml-statement;
    content:"Assertion " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) ". ";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-assertion .shtml-title-assertion:is(.empty):after{
    content:"";
    font-weight:700
}
.shtml-assertion-axiom .shtml-title-assertion:before{
    counter-increment: shtml-statement;
    content:"Axiom " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) " (";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-assertion-axiom .shtml-title-assertion:after{
    content:"). ";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-assertion-axiom .shtml-title-assertion:is(.empty):before{
    counter-increment: shtml-statement;
    content:"Axiom " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) ". ";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-assertion-axiom .shtml-title-assertion:is(.empty):after{
    content:"";
    font-weight:700
}
.shtml-assertion-theorem .shtml-title-assertion:before{
    counter-increment: shtml-statement;
    content:"Theorem " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) " (";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-assertion-theorem .shtml-title-assertion:after{
    content:"). ";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-assertion-theorem .shtml-title-assertion:is(.empty):before{
    counter-increment: shtml-statement;
    content:"Theorem " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) ". ";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-assertion-theorem .shtml-title-assertion:is(.empty):after{
    content:"";
    font-weight:700
}
.shtml-assertion-lemma .shtml-title-assertion:before{
    counter-increment: shtml-statement;
    content:"Lemma " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) " (";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-assertion-lemma .shtml-title-assertion:after{
    content:"). ";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-assertion-lemma .shtml-title-assertion:is(.empty):before{
    counter-increment: shtml-statement;
    content:"Lemma " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) ". ";
    font-size:inherit;
    font-weight:700;
    white-space:pre
}
.shtml-assertion-lemma .shtml-title-assertion:is(.empty):after{
    content:"";
    font-weight:700
}
.shtml-assertion-corollary .shtml-title-assertion:before{
  counter-increment: shtml-statement;
  content:"Corollary " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) " (";
  font-size:inherit;
  font-weight:700;
  white-space:pre
}
.shtml-assertion-corollary .shtml-title-assertion:after{
  content:"). ";
  font-size:inherit;
  font-weight:700;
  white-space:pre
}
.shtml-assertion-corollary .shtml-title-assertion:is(.empty):before{
  counter-increment: shtml-statement;
  content:"Corollary " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) ". ";
  font-size:inherit;
  font-weight:700;
  white-space:pre
}
.shtml-assertion-corollary .shtml-title-assertion:is(.empty):after{
  content:"";
  font-weight:700
}
.shtml-assertion-conjecture .shtml-title-assertion:before{
  counter-increment: shtml-statement;
  content:"Conjecture " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) " (";
  font-size:inherit;
  font-weight:700;
  white-space:pre
}
.shtml-assertion-conjecture .shtml-title-assertion:after{
  content:"). ";
  font-size:inherit;
  font-weight:700;
  white-space:pre
}
.shtml-assertion-conjecture .shtml-title-assertion:is(.empty):before{
  counter-increment: shtml-statement;
  content:"Conjecture " var(--shtml-has-chapter) counter(shtml-sec-section) "." counter(shtml-statement) ". ";
  font-size:inherit;
  font-weight:700;
  white-space:pre
}
.shtml-assertion-conjecture .shtml-title-assertion:is(.empty):after{
  content:"";
  font-weight:700
}
:root {
  --shtml-has-chapter:"";
}
