* {
	position:relative
}
.mskip {}
.resetfont {
    font-family: Latin Modern, STIXgeneral, Times, Times New Roman, Symbol, cmr10, CMSY10, CMEX10, serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}
  
  .monospaced {
    font-family: Latin Modern Mono, FreeMono, Courier New, monospace;
  }
  
  .blackboard {
    font-family: msbm;
  }
  
  .script {
    font-family: URW Chancery L, cursive;
  }
  
  .sansserif {
    font-family: Latin Modern Sans, sans-serif;
  }
  
  .body {
    margin: auto;
  
    color: hsl(0, 5%, 10%);
    background-color: hsl(210, 20%, 98%);
  
    text-rendering: optimizeLegibility;
    align-content: inherit;
    justify-content: flex-start;
    grid-auto-flow:row;
    text-align:justify;
    display: flex;
    flex-direction: column;
    overflow:hidden;
  }
  
  span {
    display:inherit;
    flex-direction: inherit;
  }
  .paragraph > span {
    display:inline;
  }
  .displaymath {
    display:block;
    text-align:center;
  }
  .vskip {
    display: inline-block;
    line-height: 0pt
  }
  .reftarget {
  }
  .vrule {
    /*align-self:end;*/
    display:inline-block;
  }
  .hrule {
    /*align-self:start;*/
    display:block;
  }
  a {
    color: inherit;
    text-decoration: inherit;
    display: inline-block;
    pointer-events: all;
  }
  .raise {
    position: relative;
    display: inline-block;
  }
  .moveright {
    position: relative;
    display: inline-block;
  }
  .paragraph {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width:100%;
    justify-content:inherit;
    align-content:inherit;
    white-space: normal;
  }
  hr {
    width: 100%;
  }
  .vbox {
    overflow-wrap:initial;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    width:fit-content;
    max-width:100%;
    text-align:justify;
    align-self: center;
  }
  .hbox {
    overflow-wrap:initial;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: inherit;
    align-items: baseline;
    width:fit-content;
    height:fit-content;
    max-width:100%;
    align-self:baseline;
    vertical-align:middle;
  }
  .matrix {
    display: inline-flex;
  }
  .hskip {
    display: inline-block;
    width: 0%;
    height: 0%;
  }
  .indent {
    display: inline-block;
    width: 0%;
    height: 0%;
  }
  .vskip {
    width: 0%;
    height: 0%;
  }
  foreignObject {
  }
  .foreign {
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
  }
  table {
    border-spacing:0;
    white-space:nowrap;
    width:fit-content;
    height:fit-content;
    /*display:initial;*/
  }
  td {
    padding:0;
  }
  .vfil {
    margin-bottom: 10px;
    width: 0%;
    height: 0%;
  }
  .vfill {
    margin-bottom: 30px;
    width: 0%;
    height: 0%;
  }
  .HFil {
    width: 0%;
    height: 0%;
    display: inline-block;
  }
  .Hss {
    width: 0%;
    height: 0%;
    display: inline-block;
  }
  .hkern {
    display: inline-block;
  }
  .HFill {
    margin-left: 30px;
    width: 0%;
    height: 0%;
    display: inline-block;
  }
  .br {
    flex-basis:100%;
    height:0;
  }
  math {
    width:fit-content;
    height:fit-content;
    align-self: baseline;
  }
  .displaymath {
    align-self: center;
  }
  .displaymathcontainer {
    text-align:center;
    display:flex;
    justify-content:center;
    align-self:center;
  }
  .halign {
    border-collapse:collapse;
  }
  .font-normal {
    font-family: Latin Modern, STIXgeneral, Times, Times New Roman, Symbol, cmr10, CMSY10, CMEX10, serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}
.rustex-scaled{
    width: var(--this-width);
    min-width: var(--this-width);
}
.rustex-scaled>*:first-child {
    --current-width:var(--this-width);
}


.omdoc-collapsible > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.omdoc-collapsible .omdoc-content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.omdoc-collapsible > input[type="checkbox"]:checked ~ .omdoc-content {
    height: auto;
    overflow: visible;
}

.omdoc-collapsible label {
    display: block;
}

.omdoc-collapsible {
    margin-bottom: 0.5em;
}

.omdoc-collapsible > input[type="checkbox"]:checked ~ .omdoc-content {
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-top: 0;
}

.omdoc-collapsible .omdoc-handle {
    margin: 0;
}

.omdoc-collapsible-small {
    padding: 1px;
}

.omdoc-collapsible label {
    cursor: pointer;
    padding: 5px;
    background: #e8e8e8;
}
.omdoc-collapsible label::before {
    content:'▶ ';
    white-space: pre;
}
.omdoc-collapsible > input[type="checkbox"]:checked ~ .omdoc-handle > label::before {
    content:'▼ ' !important;
    white-space: pre;
}

.omdoc-collapsible-small label {
    padding:0;
    background: inherit;
    border-bottom: 1px solid #e8e8e8;
}

.omdoc-collapsible label:hover,
.omdoc-collapsible label:focus {
    background: #d8d8d8;
}
.omdoc-symbol-table {
    width: 100%;
}
.omdoc-symbol-td {
    padding-right: 10px;
    vertical-align: baseline;
    padding-bottom: 5px;
}
.omdoc-notation-table {
    width: 100%;
}
.omdoc-notation-td {
    padding-right: 10px;
    vertical-align: baseline;
    padding-bottom: 5px;
    text-align: center;
}

.omdoc-fake-collapsible, .omdoc-fake-collapsible-small {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #e8e8e8;
}

.omdoc-fake-collapsible {}
.omdoc-fake-collapsible-small {}

.omdoc-fake-collapsible::before, .omdoc-fake-collapsible-small::before {
    content:'▷ ';
    white-space: pre;
}

.shtml-sectitle{display:inline-block;margin-top: 20px;margin-bottom: 20px}
.shtml-sec-part .shtml-sectitle {
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 50px;
    margin-top: 50px;
}
.shtml-sec-part .shtml-sectitle::before {
    content: 'Part ' counter(shtml-sec-part,upper-roman) '\a';
    font-size: x-large;
    white-space: pre;
}
.shtml-sec-part .shtml-sectitle::after {
    content: '\a';
    white-space: pre;
}
.shtml-sec-chapter .shtml-sectitle {
    font-style: normal;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 30px;
    margin-top: 30px;
}
.shtml-sec-chapter .shtml-sectitle::before {
    content: 'Chapter ' counter(shtml-sec-chapter,upper-roman) ' - ';
    font-size: x-large;
    white-space: pre;
}
.shtml-sec-chapter .shtml-sectitle::after {
    content: '\a';
    white-space: pre;
}
.shtml-sec-section .shtml-sectitle {
    font-style: normal;
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
    margin-top: 20px;
}
.shtml-sec-section .shtml-sectitle::before {
    content: counter(shtml-sec-section) '  ';
    font-size: large;
    white-space: pre;
}
.shtml-sec-section .shtml-sectitle::after {
    content: '\a';
    white-space: pre;
}
.shtml-sec-subsection .shtml-sectitle {
    font-style: normal;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 10px;
    margin-top: 10px;
}
.shtml-sec-subsection .shtml-sectitle::before {
    content: counter(shtml-sec-section) '.' counter(shtml-sec-subsection) '  ';
    font-size: medium;
    white-space: pre;
}
.shtml-sec-subsection .shtml-sectitle::after {
    content: '\a';
    white-space: pre;
}
.shtml-sec-subsubsection .shtml-sectitle {
    font-style: normal;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 5px;
    margin-top: 5px;
}
.shtml-sec-subsubsection .shtml-sectitle::before {
    content: counter(shtml-sec-section) '.' counter(shtml-sec-subsection) '.' counter(shtml-sec-subsubsection) ' ';
    font-size: medium;
    white-space: pre;
}
.shtml-sec-subsubsection .shtml-sectitle::after {
    content: '\a';
    white-space: pre;
}
.shtml-sectitle {
    font-style: normal; font-weight: bold; font-size: inherit;
}
.shtml-paragraph {
    margin-bottom: 10px;
    margin-top: 10px;
}
.shtml-example {
    margin-bottom: 10px;
    margin-top: 10px;
}
.shtml-definition {
    margin-bottom: 10px;
    margin-top: 10px;
}
.shtml-title-paragraph { font-size: inherit;font-weight: bold;}
.shtml-title-example { font-size: inherit;font-weight: bold;}
.shtml-title-example:is(.empty)::before {
    content:'Example ' counter(shtml-statement) '. ';
    white-space:pre;
    font-size: inherit;
    font-weight: bold;
}
.shtml-title-definition { font-size: inherit;font-weight: bold;}
.shtml-title-definition::before {
    content:'Definition ' counter(shtml-statement) ' (';
    white-space:pre;
    font-size: inherit;
    font-weight: bold;
}
.shtml-title-definition::after {
    content:'). ';
    white-space:pre;
    font-size: inherit;
    font-weight: bold;
}
.shtml-title-definition:is(.empty)::before {
    content:'Definition ' counter(shtml-statement) '. ';
    white-space:pre;
    font-size: inherit;
    font-weight: bold;
}
.shtml-title-definition:is(.empty)::after {
    content:'';
    font-weight: bold;
}
.shtml-title-assertion { font-size: inherit;font-weight: bold;}
.shtml-title-assertion:is(.empty)::before {
    content:'Assertion ' counter(shtml-statement) '. ';
    white-space:pre;
    font-size: inherit;
    font-weight: bold;
}
.shtml-assertion-axiom .shtml-title-assertion::before {
    content:'Axiom ' counter(shtml-statement) ' (';
    white-space:pre;
    font-size: inherit;
    font-weight: bold;
}
.shtml-assertion-axiom .shtml-title-assertion::after {
    content:'). ';
    white-space:pre;
    font-size: inherit;
    font-weight: bold;
}
.shtml-assertion-axiom .shtml-title-assertion:is(.empty)::before {
    content:'Axiom ' counter(shtml-statement) '. ';
    white-space:pre;
    font-size: inherit;
    font-weight: bold;
}
.shtml-assertion-axiom .shtml-title-assertion:is(.empty)::after {
    content:'';
    font-weight: bold;
}
