
.sidebarexpanded {
  position: relative;
  left: 550px;
  font-size: small;
}

.sidebarbuttonwrapper {
  display: inline-block;
  background-color: hsl(210, 20%, 98%);
  position: relative;
  left: -40px;
  font-size: small;
}
