.toolbar {
  background: #3f51b5;
  z-index: 2;
  display: flex;
  display: flex;
  justify-content: space-between;
}

.toolbar_logo {
  color: white;
  font-size: 24px;
  cursor: pointer;
  white-space: nowrap;
}
