.option {
  border: 1px solid #AAA;
  border-radius: 5px;
  padding-right: 10px;
  user-select: none;
}

.option_unsubmitted_selected {
  background-color: #999;
}

.option_selected {
  border-width: 3px !important;
  margin: 8px !important;
}

.option_not_selected {
  border-width: 1px !important;
  margin: 10px !important;
}

.correct {
  background-color: #a3e9a0;
  border-color: #178717 !important;
}

.incorrect {
  background-color: #f39797;
  border-color: #da1010 !important;
}
